.VideoSearchResults__container{
    background-color: rgba(255,255,255,.1);
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
   
}
.VideoSearchResults__list{
    display: flex;
    gap: 10px;
    width:90% ;
}

.slick-slider {/*this is a class from the 3rd party library slick component*/
    width: 100%;
}